.table {
    background: $grey;
    color: $light;
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem 0;

    &-categories {
        @include gridUtil();

        p {
            font-weight: 600;
        }

        @media screen and (max-width: $bp-tablet-lg) {
            display: none;
        }
    }
}

.row {
    @include gridUtil();

    &:nth-of-type(even) {
        background-color: $light-grey;
    }

    .col {

        span {
            font-weight: 600;

            @media screen and (min-width: $bp-tablet-lg + 1) {
                display: none;
            }
        }
    }
}