html {
    font-size: 62.5%; // Use REM
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: $dark;
    color: $light;
}

.layout {
    margin: 0 auto;
    padding: 0 2rem;

    @media screen and (min-width: $bp-tablet-lg) {
        max-width: 70vw;
    }
}

.footer {
    text-align: center;
    padding: 2rem;
}