::selection {
    background-color: $accent;
}

html {
    font-size: 62.5%; // Use REM
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: $dark;
    color: $light;
}

.layout {
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2%;

    @media screen and (min-width: $bp-tablet-lg + 1) {
        max-width: 70vw;
    }

    .content {
        padding-bottom: 2rem;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    padding: 1rem;
    width: 100%;
    text-align: center;

    &-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & >:first-of-type {
            margin-right: 5px;
        }
    }
}