@for $i from 1 through 6 {
    h#{$i} {
      font-size: $base-font-size + $heading-scale * (6 - $i);
      margin: $font-margin;
    }
}

ul {
    margin: $font-margin;
}

p,
a,
li,
span {
    font-size: $base-font-size;
}

a {
    color: $light;
    text-decoration: none;
    transition: .2s;

    &:hover {
        border-bottom: 1px solid $light;
    }
}