@for $i from 1 through 6 {
    h#{$i} {
      font-size: $base-font-size + $heading-scale * (6 - $i);
      margin: $font-margin;
    }
}

h1 {
    @media screen and (max-width: $bp-mobile) {
        font-size: 4.5rem;
    }
}

ul {
    margin: $font-margin;
}

p,
a,
li,
span {
    font-size: $base-font-size;
}

a {
    color: $light;
    text-decoration: none;
    transition: .2s;

    &:hover {
        color: $accent;
    }
}