@mixin gridUtil {
    display: grid;
    grid-gap: 5%;
    padding: 2.5% 5%;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

    @media screen and (max-width: $bp-tablet) {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    /*> :nth-child(1n) {
        display: flex;
        justify-content: center;
        align-items: center;
    }*/
}