@mixin gridUtil {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem 2rem;
    padding: 1.5rem 2rem;

    /*> :nth-child(1n) {
        display: flex;
        justify-content: center;
        align-items: center;
    }*/
}