// Colors
$dark: #242423;
$light-grey: #595c59;
$grey: #333533;
$light: #e8eddf;
$accent: #f5cb5c;

// Breakpoints
$bp-mobile: 546px;
$bp-tablet-lg: 978px;

// Font
$base-font-size: 1.75rem;
$heading-scale: 1rem;
$font-margin: 0 0 2rem 0;